%h1 Pivotal Commons

%dl
  %dt Who
  %dd We're Pivotal Labs. We build software. We want you to share our space.

  %dt What
  %dd Come work in our space. Surround yourself with smart people and share what you know.

  %dt When
  %dd For four months, starting March 1st through June 29th.
  %dd Deadline for application submission is February 19, 2014.

  %dt Where
  %dd We're located in Manhattan, in the Chelsea neighborhood.

  %dt Why
  %dd We're a part of the tech community in NYC. We want to see you succeed, and we want to learn from your success.

= link_to 'Apply', ENV["FORM_URL"]
