.apply-container {
  @include pad(0 ($base-line-height * 2) ($base-line-height * 2) ($base-line-height));
  background-color: $pivotal-red;
}

.button {
  @include button(white);
  color: white;
  font-size: $base-font-size * 1.4;
  font-weight: normal;
  @include pad(($base-line-height * 0.5) ($base-line-height * 2));
  border: 2px solid white;
  border-radius: 8px;
  background: transparent;
}

