.container {
  @include outer-container;
}

.container hr {
  width: 100%;
}

section {
  @include span-columns(10);
}

.section-callout {
  margin: 45px 0;
}

.split {
  @include columns(2);
  background-color: $light-gray;
  padding: $base-line-height;
  height: $base-section-height;
}

.split dt:first-of-type {
  margin-top: 0;
}

img {
  @include border-radius(56px);
  display: inline;
  float: left;
  margin-right: $base-line-height;
}

blockquote {
  border: none;
  @include clearfix;
}

header {
  @include span-columns(10);
  padding: $base-line-height;
  background-color: $pivotal-red;
}
