h1 {
  font-size: $logo-font-size;
}

blockquote {
  margin: 0;
}

figcaption {
  margin-left: $testimonial-image-width + ($base-line-height * 2);
}

figcaption::before {
  content: "\2014  ";
}

.testimonial + li {
  margin-top: $base-line-height * 2;
}

h2 {
  margin: 40px 0 10px 0;
}

